.main .card {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.main .card img {
    width: 100%;
    height: 100vw;
    object-fit: cover;
}



/* ----------------- DESKTOP GUI ----------------- */

@media (min-width: 1281px) {
    .main .card {
        flex-direction: row;
    }

    .main .card img {
        width: 30vw;
        height: 25vw;
        object-fit: cover;
        margin: 1rem 3rem;
    }

    .main .card .description {
        margin: 1rem;
    }
}