/* ----------------- SPECIFICI ----------------- */

/* intro ai servizi */
.main #intro {
    padding: 3rem 1rem;
    text-align: center;
    min-height: 32.3vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.3rem;
}

/* ----------------- 1° PARTE (display servizi disponibili) ----------------- */
/* contenitore di tutti i servizi */
.main .servizi {
    background-color: #BC4A3C;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top: 3px solid #eee;
}

/* contenitore servizi singoli - immagine di sfondo */
.main .servizi #bg_img_1,
.main .servizi #bg_img_2,
.main .servizi #bg_img_3 {
    background-size: cover;
    flex: 1;
    border: 2px solid #181818;
}

.main .servizi #bg_img_1 {
    background-image: url(../img/servizi/risanamento_mura.jpg);
}

.main .servizi #bg_img_2 {
    background-image: url(../img/servizi/modifica_pareti_interne.jpg);
    background-position: 50%;
}

.main .servizi #bg_img_3 {
    background-image: url(../img/servizi/ristrutturazione_pavimentazione.jpg);
    background-position: 50%;
}

/* contenitore servizi singoli - con overlay */
.main .servizi .box {
    background-color: #bc4b3c6e;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    text-shadow: 3px 2px 3px #212121;
}

/* servizi singoli - titolo */
.main .servizi .box h1 {
    font-size: 1.3rem;
    text-align: center;
    min-height: 50px;
}

/* servizi singoli - descrizione */
.main .servizi .box p {
    padding: 0 10px;
    font-weight: bold;
    text-align: center;
    min-height: 33.5vh;
    display: flex;
    align-items: center;
}

/* servizi singoli - pulsante */
.main .servizi .box button {
    width: 6rem;
    height: 2rem;
    margin: 10px;
    color: #212121;
    font-weight: 800;
    background: transparent;
    border: solid 2px #181818;
    box-shadow: 1px 1px 8px #181818;
}

.main .servizi .box button:hover {
    color: #eee;
    background: #212121;
}

.main .servizi .box button:active {
    color: #eee;
    background: #333;
}



/* ----------------- DESKTOP GUI ----------------- */

@media (min-width: 48em) {

    /* intro ai servizi */
    .main #intro {
        min-height: 46.2vh;
    }

    /* ----------------- 1° PARTE (display servizi disponibili) ----------------- */
    /* contenitore di tutti i servizi */
    .main .servizi {
        flex-direction: row;
    }

    /* servizi singoli - pulsante */
    .main .servizi .box button {
        width: 12rem;
        height: 3rem;
    }

    .main .servizi .box h1{
        font-size: 2rem;
    }
}