.main {
    background-color: #000;
    color: #eee;
    overflow: hidden;
}

/* ----------------------------------------------------------------------------- SEZIONE 0 (mega titolo main) ----------------------------------------------------------------------------- */
/* sfondo/container */
.main .title_bg {
    background-color: black;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 0;
    overflow: hidden;
}

/* scritta */
.main .big_title {
    color: #eee;
    font-size: 3rem;
    text-shadow: #000 0 0 10px;
}

/* palle sullo sfondo */
.main .title_bg .small_ball,
.main .title_bg .ball,
.main .title_bg .big_ball {
    background-color: #016161cc;
    height: 100px;
    width: 100px;
    position: absolute;
    border-radius: 100%;
    z-index: -1;
    animation: balling 4s linear 0s infinite alternate none;
}

.main .title_bg .ball {
    height: 200px;
    width: 200px;
}

.main .title_bg .big_ball {
    height: 400px;
    width: 400px;
}

.main .title_bg .small_ball {
    height: 100px;
    width: 100px;
}

/* posizioni palle */
.main .title_bg .pos1 {
    float: none;
    top: -100px;
    right: -100px;
}

.main .title_bg .pos2 {
    float: none;
    left: 40%;
    top: 25%;
}

.main .title_bg .pos3 {
    float: none;
    left: 0%;
    bottom: 5%;
}

.main .title_bg .pos4 {
    float: none;
    left: 30%;
    top: 20%;
}




/* ----------------------------------------------------------------------------- SEZIONE 1 (servizi) ----------------------------------------------------------------------------- */
/* container */
.main .servizi_wrapper {
    display: grid;
    grid-template-rows: auto 50vh auto;
    grid-template-columns: 1fr auto 1fr;
    padding: 10vh 0;
    align-items: center;
}

/* titolo */
.main .servizi_wrapper .title {
    padding: 10px;
    text-align: center;
    margin-bottom: 5rem;
    grid-column: 1/4;
    height: fit-content;
}

/* immagini */
.main .servizi_wrapper #service1,
.main .servizi_wrapper #service2 {
    background: #016161;
    width: calc(100% - 20px);
    height: 80%;
    margin: 0 10px;
    object-fit: cover;
}

.main .servizi_wrapper #service1 {
    grid-column: 1/2;
}

.main .servizi_wrapper #service2 {
    margin-top: 40%;
    grid-row: 2/3;
    grid-column: 2/4;
}

/* accordion */
.main .servizi_container {
    width: 100%;
    padding: 5rem 0;
    padding-bottom: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    grid-column: 1/4;
}

.main .servizi_container .accordion,
.main .servizi_container .more button {
    background-color: #222;
    color: #eee;
    cursor: pointer;
    padding: 18px;
    width: 90%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.main .servizi_container .more {
    width: 90%;
    justify-self: center;
}

.main .servizi_container .more button {
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
    width: 100%;
}

.main .servizi_container .more button:hover,
.main .servizi_container .active,
.main .servizi_container .accordion:hover {
    background-color: #016161;
}

.main .servizi_container .accordion:after {
    content: '\002B';
    color: #eee;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.main .servizi_container .active:after {
    content: "\2212";
}

.main .servizi_container .panel {
    padding: 0 18px;
    background-color: #333;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    width: calc(90% - 36px);
}

.main .servizi_container .panel p {
    padding: 1rem;
}




/* ----------------------------------------------------------------------------- SEZIONE 2 (altre info) ----------------------------------------------------------------------------- */
.info_container {
    min-height: 110vh;
    padding: 10%;
    display: flex;
    justify-content: center;
}

.info_container .box_info {
    background: #333;
    border-radius: 2rem;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: fit-content;
}

.info_container .box_info .title {
    font-size: 2rem;
    padding: 10px;
    text-align: center;
    margin: 1rem 0;
}

.info_container .box_info p {
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 2rem;
    padding: 3rem;
}

.info_container .box_info a {
    font-weight: 300;
    text-align: center;
    font-size: 1.5rem;
    padding: 3rem;
    padding-bottom: 3rem;
    text-decoration: none;
    color: #eee;
}

.info_container .box_info a:active,
.info_container .box_info a:hover {
    color: #016161;
}




/* ----------------------------------------------------------------------------- SEZIONE 3 (contatti) ----------------------------------------------------------------------------- */
.main .contact_box {
    background-color: #080808;
    padding-bottom: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 50vh;
    border-top: solid 3rem #00000008
}

.main .contact_box .title {
    text-align: center;
    font-size: 2rem;
    padding: 12vh 0 3vh 0;
}

.main .contatti {
    padding-left: 10vw;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    justify-content: space-around;
}

.main .contatti li {
    margin: .5rem 0;
}




/* ----------------- DESKTOP GUI ----------------- */
@media (min-width: 48em) {
    .main {
        width: 87%;
        margin-left: 13%;
    }

    /* scritta */
    .main .big_title {
        font-size: 5rem;
    }

    /* -------------- palle -------------- */
    .main .title_bg .pos2 {
        left: 50%;
        top: 20%;
    }

    .main .title_bg .pos3 {
        left: -1%;
        bottom: 5%;
    }

    .main .title_bg .pos4 {
        left: 47%;
        top: 11%;
    }

    /* -------------- SEZIONE 1 -------------- */
    /* container */
    .main .servizi_wrapper {
        display: grid;
        grid-template-columns: 10% auto 10%;
        grid-template-rows: max-content max-content;
        padding: 10vh 0;
    }

    /* titolo */
    .main .servizi_wrapper .title {
        padding: 10px;
        text-align: center;
        margin-bottom: 5rem;
        grid-row: 1/2;
        grid-column: 1/4;
        margin-bottom: 0;
    }

    /* immagini */
    .main .servizi_wrapper #service1,
    .main .servizi_wrapper #service2 {
        background: #016161;
        width: calc(100% - 20px);
        height: 50vh;
        margin: 0 10px;
        grid-row: auto;
        grid-column: auto;
    }

    .main .servizi_wrapper #service2 {
        margin-top: 0;
    }

    /* accordion */
    .main .servizi_container {
        width: auto;
        grid-column: auto;
    }


    /* ------------- SEZIONE 2 ------------- */
    .info_container .box_info p {
        line-height: 2.6rem;
    }

    /* ------------- SEZIONE 3 ------------- */
    .main .title {
        font-size: 3rem;
    }

    .main .contatti {
        flex-direction: row;
        padding-left: 0;
    }

    .main .contatti li {
        font-size: 2rem;
    }
}



/* ----------------- ANIMAZIONI ----------------- */
/* move */
@keyframes balling {
    from {
        transform: rotateX(15deg);
    }

    to {
        transform: rotateY(15deg);
    }
}



/* ----------------- FONTS ----------------- */
/* fa */
.main .fa {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    font-size: 1rem;
}

.main .fa::before {
    color: #016161;
    margin-right: 10px;
}

.main .fa-map-marker:before {
    content: "\f041";
}

.main .fa-phone:before {
    content: "\f095";
}

.main .fa-envelope:before {
    content: "\f0e0";
}